.area-for-preloader{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
    background: linear-gradient(90deg, #e4815d 10%, deeppink 90%);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.block-loader{
	display: flex;
  	flex-direction: column;
  	align-items: center;
}

.text-loader{
	text-align: center;
}

.head-text{
	text-align: center;
}

.block-animation{
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	width: 280px;
  	margin-bottom: 20px;
}

.block-center{
 	width: 200px; 
}

.block-up{
	display: flex;
  	flex-direction: row;
  	justify-content: flex-start;
}

.block-down{
 	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
}

.circle{
  	background-image: url("../img/ball.png");
  	background-repeat: no-repeat;
  	background-size: 120%;
  	background-position: center;
	background-color: black;
  	width: 20px;
  	height: 20px;
  	border-radius: 10px; 
  	animation: circle 5s infinite linear;
  	transform: translate(30px, -20px);
}

@keyframes circle{
  8.33% {
  	transform: translate(0, 0);
  }
  16.66%{
   transform: translate(30px, -20px); 
  }
  25%{
   transform: translate(60px, 0); 
  }
  33.2%{
   transform: translate(90px, -20px); 
  }
  41.65%{
  	transform: translate(120px, 0);
  }
  50%{
   	transform: translate(150px, -20px); 
  }
  58.33%{
  	transform: translate(180px, 0);
  }
  66.64%{
   	transform: translate(150px, -20px); 
  }
  75%{
   	transform: translate(120px, 0); 
  }
  83%{
   	transform: translate(90px, -20px); 
  }
  91.6%{
   	transform: translate(60px, 0); 
  }
  100%{
   	transform: translate(30px, -20px); 
  }

}

.bracket{
 	font-size: 32px; 
}

.rect{
 	background-image: url('../img/grass.jpg');
  	background-size: 50%;
  	background-repeat: repeat-x;
  	background-position: center;
}

.rect1, .rect4{
  	background-color: black;
 	width: 20px;
  	height: 10px;
  	border-radius: 2px;
}

.rect2, .rect3{
 	width: 20px; 
}

.rect2{
  	background-color: blue;
  	width: 20px;
  	height: 10px;
  	border-radius: 2px;
}

.rect2{
  	animation: rect2 10s infinite linear;
  	animation-delay: 1.2s;  	
}

@keyframes rect2{
 0%{
   transform: translate(0, 5px);
  }
 2%{
   transform: translate(0, 0);
  }
  34%{
   transform: translate(0, 0);  
  }
  36%{
   transform: translate(0, 5px); 
  }
  37%{
   transform: translate(0, 0); 
  }
  50%{
  	transform: translate(0, 0);
  }
  52%{
   transform: translate(0, 5px); 
  }
  54%{
   transform: translate(0, 0); 
  }
  84%{
	transform: translate(0, 0);    
  }
  86%{
   	transform: translate(0, 5px); 
  }
  88%{
   	transform: translate(0, 0); 
  }

}

.rect3{
  	background-color: blue;
  	width: 20px;
  	height: 10px;
  	border-radius: 2px;
}


.rect3{
 	animation: rect3 10s infinite linear;
  	animation-delay:2s;
}

@keyframes rect3{
 0%{
   transform: translate(0, 5px);
  }
 2%{
  	transform: translate(0, 0);
  }
  17%{
   transform: translate(0, 0); 
  }
  19%{
   transform: translate(0, 5px); 
  }
  21%{
   transform: translate(0, 0); 
  }
  50%{
  	transform: translate(0, 0);
  }
  52%{
   transform: translate(0, 5px); 
  }
  54%{
   transform: translate(0, 0); 
  }
  67%{
   transform: translate(0, 0); 
  }
  69%{
   transform: translate(0, 5px);
  }
  71%{
   transform: translate(0, 0); 
  }
}

.rect1{
	animation: rect1 5s infinite linear;
    animation-delay: 0.5s;
}

.rect4{
 	animation: rect1 5s infinite linear;
  	animation-delay: 3s;
}

@keyframes rect1{
 0%{
   	transform: translate(0, 5px);
  }
 10%{
   	transform: translate(0, 0);
  }
}



